html,body{text-align: center;font-family:Helvetica;}
.inputBlock{display:block;}
.personalData-container{display:inline-block;}
.bankAccount-container{display:inline-block;}
#accounts-list li{display:inline-block;margin:20px; padding: 20px; border: solid 1px;border-color:Lavender;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
span{font-size:10px;}
input[type="text"],input[type="date"]{text-align:center;}
input:disabled{cursor: default !important;}
