<fieldset class="personalData-container">
	<legend>Personal Data</legend>
	<div class="inputBlock">
		<label for="firstName">First name</label>
		<input type="text" id="firstName" class="firstName" value="<%- firstName %>"/>
	</div>

	<div class="inputBlock">
		<label for="lastName">Last name</label>
		<input type="text" id="lastName" class="lastName" value="<%- lastName %>"/>
	</div>

	<div class="inputBlock">
		<label for="dateOfBirth">Date of birth</label>
		<input type="date" id="dateOfBirth" class="dateOfBirth" value="<%- dateOfBirth %>"/>
	</div>
</fieldset>