<fieldset class="personalData-container">
	<legend>Personal Data</legend>
	<div class="inputBlock form-group" id="firstName-container">
		<label for="firstName">First name</label>
		<input type="text" id="firstName" class="firstName form-control" value="<%- firstName %>"/>
		<span id="firstName-error" class="error"></span>
	</div>

	<div class="inputBlock form-group" id="lastName-container">
		<label for="lastName">Last name</label>
		<input type="text" id="lastName" class="lastName form-control" value="<%- lastName %>"/>
		<span id="lastName-error" class="error"></span>
	</div>

	<div class="inputBlock form-group" id="dateOfBirth-container">
		<label for="dateOfBirth">Date of birth</label>
		<input type="text" id="dateOfBirth" class="dateOfBirth form-control" value="<%- dateOfBirth %>" placeholder="dd/mm/yyyy"/>
		<span id="dateOfBirth-error" class="error"></span>
	</div>
</fieldset>